<ion-header>
  <ion-navbar>
    <ion-title>ตะกร้าสินค้า</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list *ngIf="!checkNoItem">
    <ion-list-header *ngFor="let item of basket">
      <h1>{{ item.restaurant_name }}</h1>
      <ion-list-header *ngFor="let product of item.products" class="description">
        <ion-row>
          <h2>{{ product.food_name }}</h2>
        </ion-row>
        <ion-row>
          <ion-col>
            ราคา {{ product.food_price }} baht
          </ion-col>
          <ion-col>
            <ion-icon name="remove" (click)="removeProduct(product)" padding-right></ion-icon>
            {{ product.food_qty }}
            <ion-icon name="add" (click)="addProduct(product)" padding-left></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="trash" (click)="deleteProduct(product)"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-list-header>
    </ion-list-header>
  </ion-list>

  <div *ngIf="checkNoItem" text-center>
    <h5>ไม่มีสินค้าในตะกร้า</h5>
  </div>

</ion-content>

<ion-footer *ngIf="!checkNoItem">
  <ion-toolbar>
    <p>ยอดรวม {{ totalCharge }} บาท</p>
    <ion-buttons end>
      <button ion-button icon-end color="royal" (click)="sentOrder()">
        <p>สั่งซิ้อ</p>
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>