<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-10>
        <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"
          placeholder="ค้นหา">
        </ion-searchbar>
      </ion-col>
      <ion-col col-2 align-self-center text-center>
        <button ion-button clear id="notification-button" (click)="openCart()">
          <ion-icon name="cart">
            <ion-badge id="notifications-badge" *ngIf="cartLength > 0">{{ cartLength }}</ion-badge>
          </ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content class="bg">

  <ion-row>
    <ion-slides pager="true" autoplay="3000" loop="true" style="height: 200px">
      <ion-slide (click)="promo1()">
        <img src="assets/imgs/breakfast001.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/lunch001.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/dinner003.jpg" />
      </ion-slide>
    </ion-slides>
  </ion-row>



  <ion-row class="categoryHead" margin-top>
    <h3 padding-left>ค้นหาตามประเภทอาหารที่ชอบ</h3>
    <ion-slides pager class="categorySlide">
      
      <ion-slide>
        <div class="card-background-page" no-padding text-center>
          <ion-row no-padding>
            <ion-col no-padding>
              <ion-card no-padding (click)="getRestaurant()">
                <img src="assets/imgs/category_all.jpg" />
                <div class="card-title">ร้านอาหารทั้งหมด</div>
              </ion-card>
            </ion-col>
            <ion-col no-padding>
              <ion-card no-padding (click)="category('ตามสั่ง')">
                <img src="assets/imgs/category_tamsang.jpg" />
                <div class="card-title">อาหารตามสั่ง</div>
              </ion-card>
            </ion-col>
            <ion-col no-padding>
              <ion-card no-padding (click)="category('ก๋วยเตี๋ยว')">
                <img src="assets/imgs/category_noodle.jpg" />
                <div class="card-title">ก๋วยเตี๋ยว</div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row no-padding>
            <ion-col no-padding>
              <ion-card no-padding (click)="category('ฟาสฟู๊ด')">
                <img src="assets/imgs/category_fastfood.jpg" />
                <div class="card-title">ฟาสฟู๊ด</div>
              </ion-card>
            </ion-col>
            <ion-col no-padding>
              <ion-card no-padding (click)="category('เครื่องดื่ม')">
                <img src="assets/imgs/category_drinks.jpg" />
                <div class="card-title">เครื่องดื่ม</div>
              </ion-card>
            </ion-col>
            <ion-col no-padding>
              <ion-card no-padding (click)="category('ขนมหวาน')">
                <img src="assets/imgs/category_sweet.jpg" />
                <div class="card-title">ขนมหวาน</div>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="card-background-page" no-padding>
          <ion-row no-padding>
            <ion-col no-padding>
              <ion-card no-padding (click)="category('พิซซ่า')">
                <img src="assets/imgs/category_pizza.jpg" />
                <div class="card-title">พิซซ่า</div>
              </ion-card>
            </ion-col>
            <ion-col no-padding>
              <ion-card no-padding (click)="category('ไทย')">
                <img src="assets/imgs/category_thaifood.jpg" />
                <div class="card-title">อาหารไทย</div>
              </ion-card>
            </ion-col>
            <ion-col no-padding>
              <ion-card no-padding (click)="category('เช้า')">
                <img src="assets/imgs/category_breakfast.jpg" />
                <div class="card-title">อาหารเช้า</div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row no-padding>
            <ion-col no-padding>
              <ion-card no-padding (click)="category('สลัด')">
                <img src="assets/imgs/category_salad.jpg" />
                <div class="card-title">สลัด</div>
              </ion-card>
            </ion-col>
            <ion-col no-padding>
              <ion-card no-padding (click)="category('ญี่ปุ่น')">
                <img src="assets/imgs/category_japan.jpg" />
                <div class="card-title">อาหารญี่ปุ่น</div>
              </ion-card>
            </ion-col>
            <ion-col no-padding>

            </ion-col>
          </ion-row>
        </div>
      </ion-slide>

    </ion-slides>

  </ion-row>

  <ion-row>
    <div padding-left>
      จำนวนร้านค้าที่มี {{ restaurantNum }}
    </div>
  </ion-row>

  <ion-row>
    <ion-list padding>
      <ion-item *ngFor="let item of items" (click)="goInRestaurant(item.id, item.name)" no-padding>
        <ion-row no-padding>
          <ion-col col-3 no-padding class="img">
            <img src="http://158.108.207.4/delivery/public/images/restaurants/{{item.image}}" />
          </ion-col>
          <ion-col col-6 align-self-center>
            {{item.name}}
          </ion-col>
          <ion-col text-right col-3 align-self-center>
            {{item.status}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-row>

</ion-content>