<ion-header>

  <ion-navbar>
    <ion-row>
      <ion-col col-10 align-self-center text-left>
        {{ res_name }}
      </ion-col>
      <ion-col col-2 align-self-center text-center>
        <button ion-button clear id="notification-button" (click)="openCart()">
          <ion-icon name="cart">
            <ion-badge id="notifications-badge" *ngIf="cartLength > 0">{{ cartLength }}</ion-badge>
          </ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div>
    <img src="assets/imgs/breakfast001.jpg" />
  </div>
  <div margin-buttom padding>
    <h3>{{ res_name }}</h3>
  </div>

  <ion-list>
    <ion-item *ngFor="let product of products" (click)="selectFood(product)">
      <ion-row>
        <ion-col>
          {{ product.name }}
        </ion-col>
        <ion-col text-right>
          {{ product.price }} ฿
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>