page-history {

    .borderBottom {
        border-bottom:solid rgb(231, 231, 231);
        border-width: 1px;
    }

    .ButtonColor {
        background-color: orange;
    }

    .itemBorder {
        border-bottom:solid rgb(206, 206, 206);
        border-width: 5px;
    }
}
