<ion-header>

  <ion-navbar>
    <ion-title>เปลี่ยนรหัสผ่าน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h2 margin-bottom>แก้ไขรหัสผ่าน</h2>
  <form (ngSubmit)="doPass()" #f="ngForm">
    <div id="user-data" ngModelGroup="userData">
      <div class="form-group">
        <ion-item class="pass">
          <ion-label floating>ใส่รหัสผ่านปัจจุบัน</ion-label>
          <ion-input type="password" id="cpassword" class="form-control" name="cpassword" required ngModel
            #cpassword="ngModel"></ion-input>
        </ion-item>
      </div>
      <div ngModelGroup="passwords" #passwords1="ngModelGroup" appCheckPassword>
        <div class="form-group">
          <ion-item>
            <ion-label floating>ใส่รหัสผ่านใหม่</ion-label>
            <ion-input type="password" class="form-control" id="password" #password="ngModel" name="password" required
              ngModel pattern="^[a-zA-Z0-9]{6,15}$"></ion-input><br>
          </ion-item>
          <span padding-left *ngIf="(!password.valid && password.touched)">รหัสผ่านต้องเป็น a-z,A-Z,0-9 และ มีความยาว 6-15 ตัวอักษร</span>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-label floating>ใส่รหัสผ่านใหม่อีกครั้ง</ion-label>
            <ion-input type="password" class="form-control" id="c_password" #c_password="ngModel" name="c_password"
              required ngModel></ion-input><br>
          </ion-item>
        </div>
      </div>
      <div padding-left *ngIf="c_password.invalid && (password.dirty || password.touched)">
        กรุณาใส่รหัสผ่านใหม่
      </div>
      <div padding-left *ngIf="passwords1.errors?.passwordCheck && (c_password.dirty || c_password.touched)">
        รหัสผ่านใหม่ไม่ตรงกัน
      </div>
    </div>
    <button ion-button block margin-top type="submit" [disabled]="!f.valid">ยืนยันเปลี่ยนรหัสผ่าน</button>
  </form>

</ion-content>